<p id="notice"><%= notice %></p>

<h1>Brand</h1>

<div>Name: <%= @brand.name %></div>
<div>Description: <%= @brand.description %></div>
<div>Domain: <%= @brand.domains.first.url %></div>
<div>Org name: <%= @brand.organization.name %></div>

<br>
