<!DOCTYPE html>
<html>
<head>

  <%= render "layouts/components/tags" %>
  <%= render "layouts/components/styles" %>
  <%= render "layouts/components/tracking_head" %>

</head>
<body class="cx cx-main theme-default_mixed <%= @brand.brand_info.body_class %> cx-listings_details">

  <%= render "layouts/components/google_tag_manager" %>
  <%= render "layouts/components/scripts" %>
  <%= render "layouts/components/tracking_body" %>

</body>
</html>
