<!DOCTYPE html>
<html>
<head>

  <!-- Meta Tags -->
  <%= render "layouts/components/tags" %>

  <!-- Styles -->
  <%= render "layouts/components/styles" %>

  <!-- Tracking Pixels -->
  <%= render "layouts/components/tracking_head" %>

</head>
<body class="cx cx-main theme-default_mixed beach-theme cx-listings_details">

  <!-- Google Tag Manager -->
  <%= render "layouts/components/google_tag_manager" %>

  <!-- Content -->
  <main>
    <%= yield %>
  </main>

  <!-- Scripts -->
  <%= render "layouts/components/scripts" %>

  <!-- Tracking Pixels -->
  <%= render "layouts/components/tracking_body" %>

</body>
</html>
